<button [routerLink]="['/food']" class="link" style="color: brown;">Add Food Item</button>


<!-- Food list section -->
<div *ngIf="foodToBuy().length; else noFood">
    <div *ngFor="let food of foodToBuy()">
      we have to buy {{food.quantity}} of {{ food.name }}
    </div>
  </div>
  
  <!-- Fallback if foodToBuy is empty -->
  <ng-template #noFood>
    <h1>You don't need to buy food</h1>
  </ng-template>

  <button [routerLink]="['/stationary']"  class="link" style="color: brown;">Add Stationary Item</button>
  <div *ngIf="stationaryToBuy().length; else noFood">
    <div *ngFor="let stationary of stationaryToBuy()">
      we have to buy {{stationary.quantity}} of {{ stationary.name }}
    </div>
  </div>
  
  <!-- Fallback if foodToBuy is empty -->
  <ng-template #noFood>
    <h1 >You don't need to buy food</h1>
  </ng-template>

  <button [routerLink]="['/electronics']"  class="link" style="color: brown;">Add Electronics Item</button>
  <div *ngIf="electronicsToBuy().length; else noFood">
    <div *ngFor="let electronics of electronicsToBuy()">
      we have to buy {{electronics.quantity}} of {{ electronics.name }}
    </div>
  </div>
  
  <!-- Fallback if foodToBuy is empty -->
  <ng-template #noFood>
    <h1 >You don't need to buy this</h1>
  </ng-template>